.menu {
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 100%;
}
.logo {
    text-align: center;
    padding: 20px;
    color: white;
    align-items: center;
    display: flex;
    gap: 10px;
}
.menu--list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size:1.0rem;
    text-decoration: none;
    font-weight: 400;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: white;
}

.icon {
    padding-left: 20px;
    padding-right: 18px;
    font-size: 22px;
    color: #EAAA08;
    align-items: center;
}

.dash {
    display: flex;
    align-items: center;
}

.dash li{
    display: flex;
    text-decoration: none;
    list-style: none;

}
/* .dash ul{
    display: flex;
    flex-direction: column;
} */

.but {
    color: white;
    background-color:#0B0E54;
    padding: auto;
    align-items: center;
    border: none;
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 10px;
}

.arrow {
    padding-left: 20px;
    margin-left: auto;
    color: #EAAA08;
}
.side-pic {
    display: flex;
    padding: 20px;
    color: white;
    font-size: small;
}

.side-pic img{
    border-radius: 100px;
    height: 40px;
    padding: 5px;
    width: 40px;
}

.but:hover {
    color: #0B0E54;
    padding: 10px;
    background-color: #EAAA08;
}

.but.icon:hover {
    color: #EAAA08;
}

.but.arrow:hover {
    color: #0B0E54;
}